<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
  </head>
  <header>


  </header>
  <main>
    <div class="container">
      <p>
        Hey <%= @user.first_name %>,
        <br/>
        Here is your daily dashboard for today!
      </p>

      <p><strong>Let's take a look at your <%= @portfolios.length %> active competitions</strong></p>

      <table class="striped highlight">
        <thead>
          <tr>
            <th>Strategy Name</th>
            <th>Potential Payout</th>
            <th>Total Wagered</th>
            <th>Deadline</th>
            <th>Your Return</th>
            <th>Competitor Return</th>
            <th>Differential</th>
          </tr>
        </thead>
        <tbody>
          <% @portfolios.each do |port| %>
          <tr>
            <td><a href="http://www.stumpthestreet.com/competitions/show/portfolios/<%=port.portfolio.id%>"><%=port.portfolio.name %></td>
            <td><%=number_to_currency(port.portfolio.competition.current_value,precision: 2) %></td>
            <td><%=number_to_currency(port.portfolio.competition.wager_amount,precision: 2) %></td>
            <td><%=port.portfolio.competition.deadline.strftime("%b %e, %Y") %></td>
            <td><%= number_to_percentage(port.portfolio.return*100, precision: 2) %></td>
            <td><%=number_to_percentage(port.portfolio.competition.top_portfolio.return* 100, precision: 2) %></td>
            <td><%=number_to_percentage(port.portfolio.competition.diff_for(port.portfolio)* 100, precision: 2) %></td>
          </tr>
          <%end%>
        </tbody>
      </table>

      <br/>

      <% @portfolios.each do |port| %>
        <div style="background:#eceff1;padding:2%;box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2)">
          <h5> <%= port.portfolio.name %> <label>Potential Payout: <%=number_to_currency(port.portfolio.competition.current_value,precision:2) %></label></h5>
          <hr/>
          <p><strong>Current Market Value:</strong> <%= number_to_currency(port.portfolio.value, precision:2) %></p>
          <p><span><strong>Current Cash Position:</strong> <%= number_to_currency(port.portfolio.cash,precision: 2) %> (<%= number_to_percentage(port.cash_drag*100,precision: 2) %>)</span>
          <% if port.cash_drag > 0.25%><span>
            <i class="material-icons">flag</i> <a href="http://www.stumpthestreet.com/competitions/show/portfolios/<%=port.portfolio.id%>"><strong>Get trading!</strong></a></span>
          <%end%></p>
          <p><strong>Day Return:</strong> <%= number_to_currency(port.day_return_cash,precision: 2)%> (<%=number_to_percentage(port.day_return_pct*100, precision:2)%>) vs. <%=port.portfolio.competition.competitor.name rescue 'top competitor'%>: <%= number_to_percentage(port.comp_return,precision: 2)%></p>
          <h6><u>Full Trading Analysis Coming Soon</u></h6>
          <span><i>Trades to Date: <%= port.total_trades_to_date %></i></span>
          <span><i>Trades Today: <%= port.total_trades_today %></i></span>
          <p><strong>Biggest stock:</strong><%if !port.biggest_weight %>"N/A"<%else%> <%= port.biggest_weight.stock.ticker %>: <%= number_to_currency(port.biggest_weight.value,precision: 2) %> <%= number_to_percentage(port.biggest_weight.return*100,precision: 2) %><%end%></p>
          <p><strong>Best stock:</strong> <%if !port.best_stock %>"N/A"<%else%><%= port.best_stock.stock.ticker %>: <%= number_to_currency(port.best_stock.value, precision: 2) %> <%= number_to_percentage(port.best_stock.return*100, precision: 2) %><%end%></p>
          <p><strong>Worst stock:</strong> <%if !port.worst_stock %>"N/A"<%else%><%= port.worst_stock.stock.ticker %>: <%= number_to_currency(port.worst_stock.value, precision: 2) %> <%= number_to_percentage(port.worst_stock.return*100, precision: 2) %><%end%></p>

        </div>
      </br>
      <%end%>
      <label>For any specific trading information that <u>you</u> would like to see, email Jared @ shulman.jared@gmail.com</label>
      <br/>
    </div>
  </main>
  <footer>
    <div class= "center-align">
    <a class="waves-effect waves-light btn blue-grey darken-4" href="http://www.stumpthestreet.com">Stump the Street</a>
  </div>
  <br/>
  </footer>
  <body>
  </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
  </html>
